@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background: '#F8F8F8';
  --default-color: '141414';
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--default-color);
  background: var(--background);
}

.bg-banner {
  background-color: #BDBCB8;
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
}
